# packages in environment at C:\Users\Gomgoma\miniconda3\envs\BigDataEnv:
#
# Name                    Version                   Build  Channel
bokeh                     3.3.0           py311h746a85d_0  
geopandas                 0.14.0                   pypi_0    pypi
ipykernel                 6.26.0                   pypi_0    pypi
ipython                   8.17.2                   pypi_0    pypi
ipywidgets                8.1.1                    pypi_0    pypi
jpeg                      9e                   h2bbff1b_1  
json5                     0.9.14                   pypi_0    pypi
jsonpointer               2.4                      pypi_0    pypi
jsonschema                4.19.2                   pypi_0    pypi
jsonschema-specifications 2023.7.1                 pypi_0    pypi
jupyter                   1.0.0                    pypi_0    pypi
jupyter-client            8.6.0                    pypi_0    pypi
jupyter-console           6.6.3                    pypi_0    pypi
jupyter-core              5.5.0                    pypi_0    pypi
jupyter-events            0.9.0                    pypi_0    pypi
jupyter-lsp               2.2.0                    pypi_0    pypi
jupyter-server            2.10.0                   pypi_0    pypi
jupyter-server-terminals  0.4.4                    pypi_0    pypi
jupyterlab                4.0.8                    pypi_0    pypi
jupyterlab-pygments       0.2.2                    pypi_0    pypi
jupyterlab-server         2.25.1                   pypi_0    pypi
jupyterlab-widgets        3.0.9                    pypi_0    pypi
matplotlib                3.8.0                    pypi_0    pypi
matplotlib-base           3.6.2           py311h1094b8e_0  
matplotlib-inline         0.1.6                    pypi_0    pypi
numpy                     1.26.1                   pypi_0    pypi
numpy-base                1.23.5          py311h4cfcc17_1  
openjpeg                  2.4.0                h4fc8c34_0  
pandas                    2.1.2                    pypi_0    pypi
pandas-bokeh              0.5.5                    pypi_0    pypi
pip                       23.3            py311haa95532_0  
plotly                    5.18.0                     py_0    plotly
pyparsing                 3.1.1                    pypi_0    pypi
python                    3.11.5               he1021f5_0  
python-dateutil           2.8.2              pyhd3eb1b0_0  
python-json-logger        2.0.7                    pypi_0    pypi
scipy                     1.9.3                    pypi_0    pypi
seaborn                   0.12.2          py311haa95532_0  
ydata-profiling           4.1.2                    pypi_0    pypi
