bokeh==3.3.0
geopandas==0.14.0
jpeg==9e
json5==0.9.14
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
matplotlib==3.8.0
numpy==1.26.1
numpy-base==1.23.5
openjpeg==2.4.0
pandas==2.1.2
pandas-bokeh==0.5.5
plotly==5.18.0
pyparsing==3.1.1
scipy==1.9.3
seaborn==0.12.2
ydata-profiling==4.1.2
